html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin-top: 100px;
    background-color: rgb(41, 21, 44);
}
#conteiner{
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 30px;
    border: 2px dashed rgb(95, 91, 95);
    border-radius: 10px;
    margin: auto;
}
#input-element{
    width: 210px;
    height: 40px;
    margin: 8px;
}
.todo{
    border: 2px solid rgb(154, 121, 221);
    margin: 10px auto;
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;

}
.todo i{
    background-color: rgb(154, 121, 221);
    color: #fff;
    padding: 5px;
}
#btn{
    width: 70px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    border-bottom-right-radius: 0%;
    border-color: rgb(154, 121, 221);
}
.erro{
    border: 2px solid red;
}
.erro::placeholder{
    color: red;
}
.completa {
    text-decoration: line-through;
    color: rgb(154, 121, 221);
}